NORTHWIND_BACKEND=fastapi
NORTHWIND_HOST=127.0.0.1
NORTHWIND_PORT=5656
NORTHWIND_SWAGGER_HOST=127.0.0.1
NORTHWIND_SWAGGER_PORT=5656
NORTHWIND_API_PREFIX=/api
NORTHWIND_DB_PATH=./data/northwind.sqlite
NORTHWIND_ADMIN_YAML_PATH=../reference/nw-admin.yaml
