SQLAlchemy==1.2.2
Flask==1.0.2
flask_restful_swagger_2==0.35
Flask_RESTful==0.3.6
flask-swagger-ui==0.0.3
jsonschema==2.6.0
Werkzeug==0.14.1
Flask_SQLAlchemy==2.3.2
pyyaml==4.2b1
Flask-Cors==3.0.7
pymysql==0.8.1
inflect==0.3.1
validate_email==1.3
