Flask==0.12.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.2
Jinja2==2.9.6
MarkupSafe==1.0
PyYAML==3.12
SQLAlchemy==1.1.14
Werkzeug==0.12.2
aniso8601==1.3.0
argparse==1.2.1
click==6.7
flask-marshmallow==0.8.0
flask-restful-swagger-2==0.33
flask-swagger-ui==3.0.12
itsdangerous==0.24
marshmallow==2.13.5
marshmallow-sqlalchemy==0.13.1
python-dateutil==2.6.1
pytz==2017.2
six==1.11.0
#wsgiref==0.1.2
