# coding: utf-8

"""
    SAFRS Demo Application

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BooksApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_booksstring_book_id_ad0d(self, book_id, **kwargs):  # noqa: E501
        """Delete a Book object              # noqa: E501

        Delete a Book object  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_booksstring_book_id_ad0d(book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_booksstring_book_id_ad0d_with_http_info(book_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_booksstring_book_id_ad0d_with_http_info(book_id, **kwargs)  # noqa: E501
            return data

    def delete_booksstring_book_id_ad0d_with_http_info(self, book_id, **kwargs):  # noqa: E501
        """Delete a Book object              # noqa: E501

        Delete a Book object  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_booksstring_book_id_ad0d_with_http_info(book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['book_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_booksstring_book_id_ad0d" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `delete_booksstring_book_id_ad0d`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/{BookId}/', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_booksstring_book_id_userstring_user_id25ae(self, book_id, user_id, **kwargs):  # noqa: E501
        """Delete from Book user  # noqa: E501

        Delete a User object from the user relation on Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_booksstring_book_id_userstring_user_id25ae(book_id, user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: Book item (required)
        :param str user_id: user item (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_booksstring_book_id_userstring_user_id25ae_with_http_info(book_id, user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_booksstring_book_id_userstring_user_id25ae_with_http_info(book_id, user_id, **kwargs)  # noqa: E501
            return data

    def delete_booksstring_book_id_userstring_user_id25ae_with_http_info(self, book_id, user_id, **kwargs):  # noqa: E501
        """Delete from Book user  # noqa: E501

        Delete a User object from the user relation on Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_booksstring_book_id_userstring_user_id25ae_with_http_info(book_id, user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: Book item (required)
        :param str user_id: user item (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['book_id', 'user_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_booksstring_book_id_userstring_user_id25ae" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `delete_booksstring_book_id_userstring_user_id25ae`")  # noqa: E501
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `delete_booksstring_book_id_userstring_user_id25ae`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/{BookId}/user/{UserId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_books49c2(self, **kwargs):  # noqa: E501
        """Retrieve a Book object              # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_books49c2(async=True)
        >>> result = thread.get()

        :param async bool
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_book_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_books49c2_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_books49c2_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_books49c2_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve a Book object              # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_books49c2_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_book_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_offset', 'page_limit', 'include', 'sort', 'fields_book_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_books49c2" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_offset' in params:
            query_params.append(('page[offset]', params['page_offset']))  # noqa: E501
        if 'page_limit' in params:
            query_params.append(('page[limit]', params['page_limit']))  # noqa: E501
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'fields_book_id' in params:
            query_params.append(('fields[BookId]', params['fields_book_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_booksstring_book_id5596(self, book_id, **kwargs):  # noqa: E501
        """Retrieve a Book object                          # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_booksstring_book_id5596(book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: (required)
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_book_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_booksstring_book_id5596_with_http_info(book_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_booksstring_book_id5596_with_http_info(book_id, **kwargs)  # noqa: E501
            return data

    def get_booksstring_book_id5596_with_http_info(self, book_id, **kwargs):  # noqa: E501
        """Retrieve a Book object                          # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_booksstring_book_id5596_with_http_info(book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: (required)
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_book_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['book_id', 'page_offset', 'page_limit', 'include', 'sort', 'fields_book_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_booksstring_book_id5596" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `get_booksstring_book_id5596`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501

        query_params = []
        if 'page_offset' in params:
            query_params.append(('page[offset]', params['page_offset']))  # noqa: E501
        if 'page_limit' in params:
            query_params.append(('page[limit]', params['page_limit']))  # noqa: E501
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'fields_book_id' in params:
            query_params.append(('fields[BookId]', params['fields_book_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/{BookId}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_booksstring_book_id_userfe6e(self, book_id, **kwargs):  # noqa: E501
        """Retrieve a user object  # noqa: E501

        Returns Book user ids  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_booksstring_book_id_userfe6e(book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: Book item (required)
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_book_id: fields
        :param str fields_user_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_booksstring_book_id_userfe6e_with_http_info(book_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_booksstring_book_id_userfe6e_with_http_info(book_id, **kwargs)  # noqa: E501
            return data

    def get_booksstring_book_id_userfe6e_with_http_info(self, book_id, **kwargs):  # noqa: E501
        """Retrieve a user object  # noqa: E501

        Returns Book user ids  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_booksstring_book_id_userfe6e_with_http_info(book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: Book item (required)
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_book_id: fields
        :param str fields_user_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['book_id', 'page_offset', 'page_limit', 'include', 'sort', 'fields_book_id', 'fields_user_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_booksstring_book_id_userfe6e" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `get_booksstring_book_id_userfe6e`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501

        query_params = []
        if 'page_offset' in params:
            query_params.append(('page[offset]', params['page_offset']))  # noqa: E501
        if 'page_limit' in params:
            query_params.append(('page[limit]', params['page_limit']))  # noqa: E501
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'fields_book_id' in params:
            query_params.append(('fields[BookId]', params['fields_book_id']))  # noqa: E501
        if 'fields_user_id' in params:
            query_params.append(('fields[UserId]', params['fields_user_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/{BookId}/user', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_booksstring_book_id_userstring_user_idecbd(self, book_id, user_id, **kwargs):  # noqa: E501
        """Retrieve a user object  # noqa: E501

        Returns Book user ids  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_booksstring_book_id_userstring_user_idecbd(book_id, user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: Book item (required)
        :param str user_id: user item (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_booksstring_book_id_userstring_user_idecbd_with_http_info(book_id, user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_booksstring_book_id_userstring_user_idecbd_with_http_info(book_id, user_id, **kwargs)  # noqa: E501
            return data

    def get_booksstring_book_id_userstring_user_idecbd_with_http_info(self, book_id, user_id, **kwargs):  # noqa: E501
        """Retrieve a user object  # noqa: E501

        Returns Book user ids  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_booksstring_book_id_userstring_user_idecbd_with_http_info(book_id, user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: Book item (required)
        :param str user_id: user item (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['book_id', 'user_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_booksstring_book_id_userstring_user_idecbd" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `get_booksstring_book_id_userstring_user_idecbd`")  # noqa: E501
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `get_booksstring_book_id_userstring_user_idecbd`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/{BookId}/user/{UserId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_booksstring_book_id_b128(self, book_id, post_body, **kwargs):  # noqa: E501
        """Update a Book object              # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.patch_booksstring_book_id_b128(book_id, post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: (required)
        :param BookPOSTSample1 post_body: Book attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.patch_booksstring_book_id_b128_with_http_info(book_id, post_body, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_booksstring_book_id_b128_with_http_info(book_id, post_body, **kwargs)  # noqa: E501
            return data

    def patch_booksstring_book_id_b128_with_http_info(self, book_id, post_body, **kwargs):  # noqa: E501
        """Update a Book object              # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.patch_booksstring_book_id_b128_with_http_info(book_id, post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: (required)
        :param BookPOSTSample1 post_body: Book attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['book_id', 'post_body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_booksstring_book_id_b128" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `patch_booksstring_book_id_b128`")  # noqa: E501
        # verify the required parameter 'post_body' is set
        if ('post_body' not in params or
                params['post_body'] is None):
            raise ValueError("Missing the required parameter `post_body` when calling `patch_booksstring_book_id_b128`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_body' in params:
            body_params = params['post_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/{BookId}/', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_books_dbb6(self, post_body, **kwargs):  # noqa: E501
        """Create a Book object              # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_books_dbb6(post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param BookPOSTSample post_body: Book attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_books_dbb6_with_http_info(post_body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_books_dbb6_with_http_info(post_body, **kwargs)  # noqa: E501
            return data

    def post_books_dbb6_with_http_info(self, post_body, **kwargs):  # noqa: E501
        """Create a Book object              # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_books_dbb6_with_http_info(post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param BookPOSTSample post_body: Book attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['post_body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_books_dbb6" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'post_body' is set
        if ('post_body' not in params or
                params['post_body'] is None):
            raise ValueError("Missing the required parameter `post_body` when calling `post_books_dbb6`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_body' in params:
            body_params = params['post_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_books_get_list7301(self, post_book_get_list, **kwargs):  # noqa: E501
        """Invoke Book.get_list              # noqa: E501

        Invoke Book.get_list  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_books_get_list7301(post_book_get_list, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostBookGetList post_book_get_list: Retrieve a list of objects with the ids in id_list. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_books_get_list7301_with_http_info(post_book_get_list, **kwargs)  # noqa: E501
        else:
            (data) = self.post_books_get_list7301_with_http_info(post_book_get_list, **kwargs)  # noqa: E501
            return data

    def post_books_get_list7301_with_http_info(self, post_book_get_list, **kwargs):  # noqa: E501
        """Invoke Book.get_list              # noqa: E501

        Invoke Book.get_list  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_books_get_list7301_with_http_info(post_book_get_list, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostBookGetList post_book_get_list: Retrieve a list of objects with the ids in id_list. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['post_book_get_list']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_books_get_list7301" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'post_book_get_list' is set
        if ('post_book_get_list' not in params or
                params['post_book_get_list'] is None):
            raise ValueError("Missing the required parameter `post_book_get_list` when calling `post_books_get_list7301`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_book_get_list' in params:
            body_params = params['post_book_get_list']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/get_list', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_books_lookup0981(self, post_book_lookup, **kwargs):  # noqa: E501
        """Invoke Book.lookup              # noqa: E501

        Invoke Book.lookup  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_books_lookup0981(post_book_lookup, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostBookLookup post_book_lookup: Retrieve all matching objects (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_books_lookup0981_with_http_info(post_book_lookup, **kwargs)  # noqa: E501
        else:
            (data) = self.post_books_lookup0981_with_http_info(post_book_lookup, **kwargs)  # noqa: E501
            return data

    def post_books_lookup0981_with_http_info(self, post_book_lookup, **kwargs):  # noqa: E501
        """Invoke Book.lookup              # noqa: E501

        Invoke Book.lookup  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_books_lookup0981_with_http_info(post_book_lookup, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostBookLookup post_book_lookup: Retrieve all matching objects (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['post_book_lookup']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_books_lookup0981" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'post_book_lookup' is set
        if ('post_book_lookup' not in params or
                params['post_book_lookup'] is None):
            raise ValueError("Missing the required parameter `post_book_lookup` when calling `post_books_lookup0981`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_book_lookup' in params:
            body_params = params['post_book_lookup']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/lookup', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_booksstring_book_id1dee(self, book_id, post_body, **kwargs):  # noqa: E501
        """Create a Book object                          # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_booksstring_book_id1dee(book_id, post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: (required)
        :param BookPOSTSample post_body: Book attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_booksstring_book_id1dee_with_http_info(book_id, post_body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_booksstring_book_id1dee_with_http_info(book_id, post_body, **kwargs)  # noqa: E501
            return data

    def post_booksstring_book_id1dee_with_http_info(self, book_id, post_body, **kwargs):  # noqa: E501
        """Create a Book object                          # noqa: E501

        Returns a Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_booksstring_book_id1dee_with_http_info(book_id, post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: (required)
        :param BookPOSTSample post_body: Book attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['book_id', 'post_body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_booksstring_book_id1dee" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `post_booksstring_book_id1dee`")  # noqa: E501
        # verify the required parameter 'post_body' is set
        if ('post_body' not in params or
                params['post_body'] is None):
            raise ValueError("Missing the required parameter `post_body` when calling `post_booksstring_book_id1dee`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_body' in params:
            body_params = params['post_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/{BookId}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_booksstring_book_id_user0e8a(self, book_id, user_body, **kwargs):  # noqa: E501
        """Update user  # noqa: E501

        Add a User object to the user relation on Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_booksstring_book_id_user0e8a(book_id, user_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: Book item (required)
        :param UserRelationship user_body: user POST model (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_booksstring_book_id_user0e8a_with_http_info(book_id, user_body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_booksstring_book_id_user0e8a_with_http_info(book_id, user_body, **kwargs)  # noqa: E501
            return data

    def post_booksstring_book_id_user0e8a_with_http_info(self, book_id, user_body, **kwargs):  # noqa: E501
        """Update user  # noqa: E501

        Add a User object to the user relation on Book  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_booksstring_book_id_user0e8a_with_http_info(book_id, user_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str book_id: Book item (required)
        :param UserRelationship user_body: user POST model (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['book_id', 'user_body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_booksstring_book_id_user0e8a" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `post_booksstring_book_id_user0e8a`")  # noqa: E501
        # verify the required parameter 'user_body' is set
        if ('user_body' not in params or
                params['user_body'] is None):
            raise ValueError("Missing the required parameter `user_body` when calling `post_booksstring_book_id_user0e8a`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'user_body' in params:
            body_params = params['user_body']
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Books/{BookId}/user', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
