# coding: utf-8

"""
    SAFRS Demo Application

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class UsersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_usersstring_user_id2665(self, user_id, **kwargs):  # noqa: E501
        """Delete a User object              # noqa: E501

        Delete a User object  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_usersstring_user_id2665(user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_usersstring_user_id2665_with_http_info(user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_usersstring_user_id2665_with_http_info(user_id, **kwargs)  # noqa: E501
            return data

    def delete_usersstring_user_id2665_with_http_info(self, user_id, **kwargs):  # noqa: E501
        """Delete a User object              # noqa: E501

        Delete a User object  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_usersstring_user_id2665_with_http_info(user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_usersstring_user_id2665" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `delete_usersstring_user_id2665`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/{UserId}/', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_usersstring_user_id_booksstring_book_id24aa(self, user_id, book_id, **kwargs):  # noqa: E501
        """Delete from User books  # noqa: E501

        Delete a Book object from the books relation on User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_usersstring_user_id_booksstring_book_id24aa(user_id, book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: User item (required)
        :param str book_id: books item (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_usersstring_user_id_booksstring_book_id24aa_with_http_info(user_id, book_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_usersstring_user_id_booksstring_book_id24aa_with_http_info(user_id, book_id, **kwargs)  # noqa: E501
            return data

    def delete_usersstring_user_id_booksstring_book_id24aa_with_http_info(self, user_id, book_id, **kwargs):  # noqa: E501
        """Delete from User books  # noqa: E501

        Delete a Book object from the books relation on User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_usersstring_user_id_booksstring_book_id24aa_with_http_info(user_id, book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: User item (required)
        :param str book_id: books item (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'book_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_usersstring_user_id_booksstring_book_id24aa" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `delete_usersstring_user_id_booksstring_book_id24aa`")  # noqa: E501
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `delete_usersstring_user_id_booksstring_book_id24aa`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/{UserId}/books/{BookId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_users_b2b8(self, **kwargs):  # noqa: E501
        """Retrieve a User object              # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_users_b2b8(async=True)
        >>> result = thread.get()

        :param async bool
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_user_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_users_b2b8_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_users_b2b8_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_users_b2b8_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve a User object              # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_users_b2b8_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_user_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_offset', 'page_limit', 'include', 'sort', 'fields_user_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_users_b2b8" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_offset' in params:
            query_params.append(('page[offset]', params['page_offset']))  # noqa: E501
        if 'page_limit' in params:
            query_params.append(('page[limit]', params['page_limit']))  # noqa: E501
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'fields_user_id' in params:
            query_params.append(('fields[UserId]', params['fields_user_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_usersstring_user_id_books8b31(self, user_id, **kwargs):  # noqa: E501
        """Retrieve a books object  # noqa: E501

        Returns User books ids  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_usersstring_user_id_books8b31(user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: User item (required)
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_user_id: fields
        :param str fields_book_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_usersstring_user_id_books8b31_with_http_info(user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_usersstring_user_id_books8b31_with_http_info(user_id, **kwargs)  # noqa: E501
            return data

    def get_usersstring_user_id_books8b31_with_http_info(self, user_id, **kwargs):  # noqa: E501
        """Retrieve a books object  # noqa: E501

        Returns User books ids  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_usersstring_user_id_books8b31_with_http_info(user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: User item (required)
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_user_id: fields
        :param str fields_book_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'page_offset', 'page_limit', 'include', 'sort', 'fields_user_id', 'fields_book_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_usersstring_user_id_books8b31" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `get_usersstring_user_id_books8b31`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501

        query_params = []
        if 'page_offset' in params:
            query_params.append(('page[offset]', params['page_offset']))  # noqa: E501
        if 'page_limit' in params:
            query_params.append(('page[limit]', params['page_limit']))  # noqa: E501
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'fields_user_id' in params:
            query_params.append(('fields[UserId]', params['fields_user_id']))  # noqa: E501
        if 'fields_book_id' in params:
            query_params.append(('fields[BookId]', params['fields_book_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/{UserId}/books', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_usersstring_user_id_booksstring_book_id9c49(self, user_id, book_id, **kwargs):  # noqa: E501
        """Retrieve a books object  # noqa: E501

        Returns User books ids  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_usersstring_user_id_booksstring_book_id9c49(user_id, book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: User item (required)
        :param str book_id: books item (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_usersstring_user_id_booksstring_book_id9c49_with_http_info(user_id, book_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_usersstring_user_id_booksstring_book_id9c49_with_http_info(user_id, book_id, **kwargs)  # noqa: E501
            return data

    def get_usersstring_user_id_booksstring_book_id9c49_with_http_info(self, user_id, book_id, **kwargs):  # noqa: E501
        """Retrieve a books object  # noqa: E501

        Returns User books ids  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_usersstring_user_id_booksstring_book_id9c49_with_http_info(user_id, book_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: User item (required)
        :param str book_id: books item (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'book_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_usersstring_user_id_booksstring_book_id9c49" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `get_usersstring_user_id_booksstring_book_id9c49`")  # noqa: E501
        # verify the required parameter 'book_id' is set
        if ('book_id' not in params or
                params['book_id'] is None):
            raise ValueError("Missing the required parameter `book_id` when calling `get_usersstring_user_id_booksstring_book_id9c49`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501
        if 'book_id' in params:
            path_params['BookId'] = params['book_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/{UserId}/books/{BookId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_usersstring_user_id_c5e7(self, user_id, **kwargs):  # noqa: E501
        """Retrieve a User object                          # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_usersstring_user_id_c5e7(user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: (required)
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_user_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_usersstring_user_id_c5e7_with_http_info(user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_usersstring_user_id_c5e7_with_http_info(user_id, **kwargs)  # noqa: E501
            return data

    def get_usersstring_user_id_c5e7_with_http_info(self, user_id, **kwargs):  # noqa: E501
        """Retrieve a User object                          # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_usersstring_user_id_c5e7_with_http_info(user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: (required)
        :param int page_offset: Page offset
        :param int page_limit: max number of items
        :param str include: related objects to include
        :param str sort: sort fields
        :param str fields_user_id: fields
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'page_offset', 'page_limit', 'include', 'sort', 'fields_user_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_usersstring_user_id_c5e7" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `get_usersstring_user_id_c5e7`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501

        query_params = []
        if 'page_offset' in params:
            query_params.append(('page[offset]', params['page_offset']))  # noqa: E501
        if 'page_limit' in params:
            query_params.append(('page[limit]', params['page_limit']))  # noqa: E501
        if 'include' in params:
            query_params.append(('include', params['include']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'fields_user_id' in params:
            query_params.append(('fields[UserId]', params['fields_user_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/{UserId}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_usersstring_user_id_c1d3(self, user_id, post_body, **kwargs):  # noqa: E501
        """Update a User object              # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.patch_usersstring_user_id_c1d3(user_id, post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: (required)
        :param UserPOSTSample1 post_body: User attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.patch_usersstring_user_id_c1d3_with_http_info(user_id, post_body, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_usersstring_user_id_c1d3_with_http_info(user_id, post_body, **kwargs)  # noqa: E501
            return data

    def patch_usersstring_user_id_c1d3_with_http_info(self, user_id, post_body, **kwargs):  # noqa: E501
        """Update a User object              # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.patch_usersstring_user_id_c1d3_with_http_info(user_id, post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: (required)
        :param UserPOSTSample1 post_body: User attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'post_body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_usersstring_user_id_c1d3" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `patch_usersstring_user_id_c1d3`")  # noqa: E501
        # verify the required parameter 'post_body' is set
        if ('post_body' not in params or
                params['post_body'] is None):
            raise ValueError("Missing the required parameter `post_body` when calling `patch_usersstring_user_id_c1d3`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_body' in params:
            body_params = params['post_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/{UserId}/', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_users1c2c(self, post_body, **kwargs):  # noqa: E501
        """Create a User object              # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_users1c2c(post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param UserPOSTSample post_body: User attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_users1c2c_with_http_info(post_body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_users1c2c_with_http_info(post_body, **kwargs)  # noqa: E501
            return data

    def post_users1c2c_with_http_info(self, post_body, **kwargs):  # noqa: E501
        """Create a User object              # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_users1c2c_with_http_info(post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param UserPOSTSample post_body: User attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['post_body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_users1c2c" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'post_body' is set
        if ('post_body' not in params or
                params['post_body'] is None):
            raise ValueError("Missing the required parameter `post_body` when calling `post_users1c2c`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_body' in params:
            body_params = params['post_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_users_get_list3413(self, post_user_get_list, **kwargs):  # noqa: E501
        """Invoke User.get_list              # noqa: E501

        Invoke User.get_list  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_users_get_list3413(post_user_get_list, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostUserGetList post_user_get_list: Retrieve a list of objects with the ids in id_list. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_users_get_list3413_with_http_info(post_user_get_list, **kwargs)  # noqa: E501
        else:
            (data) = self.post_users_get_list3413_with_http_info(post_user_get_list, **kwargs)  # noqa: E501
            return data

    def post_users_get_list3413_with_http_info(self, post_user_get_list, **kwargs):  # noqa: E501
        """Invoke User.get_list              # noqa: E501

        Invoke User.get_list  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_users_get_list3413_with_http_info(post_user_get_list, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostUserGetList post_user_get_list: Retrieve a list of objects with the ids in id_list. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['post_user_get_list']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_users_get_list3413" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'post_user_get_list' is set
        if ('post_user_get_list' not in params or
                params['post_user_get_list'] is None):
            raise ValueError("Missing the required parameter `post_user_get_list` when calling `post_users_get_list3413`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_user_get_list' in params:
            body_params = params['post_user_get_list']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/get_list', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_users_lookupd016(self, post_user_lookup, **kwargs):  # noqa: E501
        """Invoke User.lookup              # noqa: E501

        Invoke User.lookup  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_users_lookupd016(post_user_lookup, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostUserLookup post_user_lookup: Retrieve all matching objects (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_users_lookupd016_with_http_info(post_user_lookup, **kwargs)  # noqa: E501
        else:
            (data) = self.post_users_lookupd016_with_http_info(post_user_lookup, **kwargs)  # noqa: E501
            return data

    def post_users_lookupd016_with_http_info(self, post_user_lookup, **kwargs):  # noqa: E501
        """Invoke User.lookup              # noqa: E501

        Invoke User.lookup  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_users_lookupd016_with_http_info(post_user_lookup, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostUserLookup post_user_lookup: Retrieve all matching objects (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['post_user_lookup']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_users_lookupd016" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'post_user_lookup' is set
        if ('post_user_lookup' not in params or
                params['post_user_lookup'] is None):
            raise ValueError("Missing the required parameter `post_user_lookup` when calling `post_users_lookupd016`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_user_lookup' in params:
            body_params = params['post_user_lookup']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/lookup', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_usersstring_user_id_books0a50(self, user_id, books_body, **kwargs):  # noqa: E501
        """Update books  # noqa: E501

        Add a Book object to the books relation on User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_usersstring_user_id_books0a50(user_id, books_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: User item (required)
        :param BooksRelationship books_body: books POST model (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_usersstring_user_id_books0a50_with_http_info(user_id, books_body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_usersstring_user_id_books0a50_with_http_info(user_id, books_body, **kwargs)  # noqa: E501
            return data

    def post_usersstring_user_id_books0a50_with_http_info(self, user_id, books_body, **kwargs):  # noqa: E501
        """Update books  # noqa: E501

        Add a Book object to the books relation on User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_usersstring_user_id_books0a50_with_http_info(user_id, books_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: User item (required)
        :param BooksRelationship books_body: books POST model (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'books_body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_usersstring_user_id_books0a50" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `post_usersstring_user_id_books0a50`")  # noqa: E501
        # verify the required parameter 'books_body' is set
        if ('books_body' not in params or
                params['books_body'] is None):
            raise ValueError("Missing the required parameter `books_body` when calling `post_usersstring_user_id_books0a50`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'books_body' in params:
            body_params = params['books_body']
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/{UserId}/books', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_usersstring_user_id_cd56(self, user_id, post_body, **kwargs):  # noqa: E501
        """Create a User object                          # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_usersstring_user_id_cd56(user_id, post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: (required)
        :param UserPOSTSample post_body: User attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_usersstring_user_id_cd56_with_http_info(user_id, post_body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_usersstring_user_id_cd56_with_http_info(user_id, post_body, **kwargs)  # noqa: E501
            return data

    def post_usersstring_user_id_cd56_with_http_info(self, user_id, post_body, **kwargs):  # noqa: E501
        """Create a User object                          # noqa: E501

        Returns a User  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_usersstring_user_id_cd56_with_http_info(user_id, post_body, async=True)
        >>> result = thread.get()

        :param async bool
        :param str user_id: (required)
        :param UserPOSTSample post_body: User attributes (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'post_body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_usersstring_user_id_cd56" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `post_usersstring_user_id_cd56`")  # noqa: E501
        # verify the required parameter 'post_body' is set
        if ('post_body' not in params or
                params['post_body'] is None):
            raise ValueError("Missing the required parameter `post_body` when calling `post_usersstring_user_id_cd56`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_body' in params:
            body_params = params['post_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/{UserId}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_usersstring_user_id_send_mail5969(self, post_user_send_mail, user_id, **kwargs):  # noqa: E501
        """Invoke User.send_mail              # noqa: E501

        Invoke User.send_mail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_usersstring_user_id_send_mail5969(post_user_send_mail, user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostUserSendMail post_user_send_mail: Send an email (required)
        :param str user_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_usersstring_user_id_send_mail5969_with_http_info(post_user_send_mail, user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_usersstring_user_id_send_mail5969_with_http_info(post_user_send_mail, user_id, **kwargs)  # noqa: E501
            return data

    def post_usersstring_user_id_send_mail5969_with_http_info(self, post_user_send_mail, user_id, **kwargs):  # noqa: E501
        """Invoke User.send_mail              # noqa: E501

        Invoke User.send_mail  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_usersstring_user_id_send_mail5969_with_http_info(post_user_send_mail, user_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param PostUserSendMail post_user_send_mail: Send an email (required)
        :param str user_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['post_user_send_mail', 'user_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_usersstring_user_id_send_mail5969" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'post_user_send_mail' is set
        if ('post_user_send_mail' not in params or
                params['post_user_send_mail'] is None):
            raise ValueError("Missing the required parameter `post_user_send_mail` when calling `post_usersstring_user_id_send_mail5969`")  # noqa: E501
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `post_usersstring_user_id_send_mail5969`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['UserId'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_user_send_mail' in params:
            body_params = params['post_user_send_mail']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Users/{UserId}/send_mail', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
