.ev {
    width: 8em;
}

.ecol {
    display: inline;
    border: 1px solid red;
    background-color: green;
}

.result {
    font-size: 2em;
    font-weight: bold;
}
.css-jxiqlq{
    margin:auto;
    top:100px;
}

