.container {
  max-width:80% !important
}
.label {
  width:80% !important;
  text-align: left
}
.rowstyle {
  margin: 0px !important;
  border: 1px solid;
  border-color: #e5e5e5;
  border-top: none;
}